.bitter-header {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.open-sans-body> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*above is the fonts*/

body {
  background-image:linear-gradient(180deg,white, white, rgb(210, 182, 255));
  background-repeat:no-repeat;
  background-attachment:fixed;
  padding-left:10vw;
  padding-right:10vw;
  margin-bottom:1vh;
}
* {
  line-height: 3.5vh;
}

h1, button {
  font-family: "Bitter", serif;
  margin-top:8vh;
  font-weight:600;
}
button {
  background-color:rgb(157, 255, 157);
  border-style:solid;
  border-width:1px;
  border-color:rgb(135, 250, 150);
  padding:12px 37px;
  border-radius:3px;
  box-shadow:0px 3px 1px rgb(61, 194, 68);
  font-size:1.55rem;
  transition:translate 1s, box-shadow 1s;
  margin-top:1vh;
  font-weight:600;
}
button:hover {
  background-color:rgb(196, 255, 199);
  border-color:rgb(112, 255, 93);
  padding:12px 37px;
  border-radius:3px;
  box-shadow:0px 6px 1px rgb(86, 204, 92);
  font-size:1.55rem;
  translate:0px -7px;
  font-weight:600;
  cursor:pointer;
}
ol {
  margin-top:2vh;
  
  color:rgb(103, 0, 199);
}
.footer {
  margin-top:150px;
}
p, ol, li {
  font-family: "Open Sans", sans-serif;
}
.father {
  display:flex;
  height:80px;
  justify-content:space-between;
  padding-bottom:3vh;
}
.father-one, .father-two {
  display:flex;
}
.father-two {
  align-items:center;
  gap:10vw;
}
.father-two p{
  margin:10px;
  font-family: "Open Sans", sans-serif;
}
.father-one img{
  height:100%;
}
.father .spammy {
  text-decoration:none;
  color:black;
}
.sourcezz {
  text-decoration:none;
  color:black;
}
.special:hover {
  text-decoration:none;
}
.father-two .spammy {
  border:1px solid rgb(230, 230, 230);
  border-radius:3px;
}
.spammy:hover {
  box-shadow:2px 2px 3px lightskyblue;
  translate:-2px -2px;
  border:1px solid lightskyblue;
  transition: translate 1s, box-shadow .5s;
}
.spammy:active {
  background-color:rgb(255, 211, 211);
}
.actual-slider div {
  background-color:rgb(250, 233, 255);
  font-family:cursive;
  text-align:center;
  flex:1 0 100%;
  scroll-snap-align: start;
  font-size:3vw;
  align-self:center;
}
.email {
  text-decoration:none;
  color:rgb(94, 0, 216);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.email:hover {
  font-size:1.08rem;
  color:rgb(255, 255, 255);
  text-shadow:none;
  transition:font-size 2s, text-shadow 1s;
}
.slider-father {
  position:relative;
  max-width:55rem;
  margin:0 auto;
}
.actual-slider {
  display:flex;
  overflow-x:auto;
  aspect-ratio:16/9;
  scroll-snap-type: x mandatory;
  scroll-behavior:smooth;
  background-color:rgb(250, 233, 255);
  border-radius:10px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(92, 92, 92); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187); 
  border:1px solid rgba(142, 4, 197, 0.322);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ad96c7; 
}
@media (min-width:0px) and (max-width:481px) {
  .father {
    height:60px;
    padding-bottom:1vh;
  }
  .actual-slider {
    aspect-ratio:16/16;
  }
  ::-webkit-scrollbar {
    display:none;
  }
  ::-webkit-scrollbar-track {
    display:none;
  }
  ::-webkit-scrollbar-thumb {
    display:none;
  }
  ::-webkit-scrollbar-thumb:hover {
    display:none;
  }
  body {
    padding:0px 5vw;
  }
  .actual-slider div p{
    font-size:1.8rem;
    line-height: 50px;
    font-style:italic;
    text-shadow:2px 2px rgb(255, 255, 255);
  }
}
@media (min-width:482px) and (max-width:1200px) {
  .father {
    height:70px;
    padding-bottom:2vh;
  }
  .actual-slider {
    aspect-ratio:16/12;
  }
  .actual-slider div p{
    font-size:2rem;
    line-height: 55px;
    font-style:italic;
    text-shadow:2px 2px rgb(255, 255, 255);
  }
  .actual-slider {
    overflow-y:hidden;
  }
}
@media (min-width:1201px) {
  body {
    padding:0px 12.5vw;
  }
  h1 {
    font-size:2.25rem;
  }
  p, li {
    font-size:1.25rem;
  }
  * {
    line-height:4vh;
  }
  .actual-slider div p{
    font-size:2.2rem;
    line-height: 70px;
    font-style:italic;
    text-shadow:3px 3px rgb(255, 255, 255);
  }
}
@media (min-width:1600px) {
  h1 {
    font-size:2.5rem;
  }
  p, li {
    font-size:1.5rem;
  }
  * {
    line-height:4.5vh;
  }
  .actual-slider div p{
    font-size:2.4rem;
    line-height: 80px;
    font-style:italic;
    text-shadow:3px 3px rgb(255, 255, 255);
  }
  .slider-father {
    position:relative;
    max-width:80%;
    margin:0 auto;
  }
}
